{# A common template to re-use accross all pages of the application #}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Innovation.io</title>

    <!-- <link rel="icon" href="./_shared/img/becode-seal.png" /> -->

    <!-- Font Awesome -->
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">

    <link rel="stylesheet" href="./style.scss">

  </head>
  <body>
        <!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Innovation.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./index.njk">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./page2.njk">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./page3.njk">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <img src="./_shared/img/logo1.png"  alt="avatar image" height="35">
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

        {% block content %}
        {% endblock %}

    <!-- Footer -->
    <footer class="page-footer bg-dark">

        <!-- Footer Links -->
        <div class="container">

          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h5 class="text-uppercase font-weight-bold">
                <a href="./index.njk">Home</a>
              </h5>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h5 class="text-uppercase font-weight-bold">
                <a href="./page2.njk">Team</a>
              </h5>
            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h5 class="text-uppercase font-weight-bold">
                <a href="./page3.njk">Contact</a>
              </h5>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->
          <hr class="rgba-white-light" style="margin: 0 15%;">

          <!-- Grid row-->
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4 ">

            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-5">
              <blockquote class="blockquote text-right">
                <h4 class="mb-0">La perfection est atteinte, non pas lorsqu’il n’y a plus rien à ajouter, mais lorsqu’il n’y a plus rien à retirer.</h4>
                <footer class="blockquote-footer">Antoine de St- Exupéry<cite title="Source Title">Terre des hommes</cite></footer>
              </blockquote>
              </div>
            <!-- Grid column -->

          </div>
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->

    <script src="./script.js"></script>
  </body>
</html>
