
{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div class="container">

<div class="content">

<h1> Our team:</h1>
<div class="d-flex justify-content-around flex-wrap">

  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/W4.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Marie-Louise de Lamplot</h4>
    <h5 class="card-title">Présidente</h5>
      <p class="card-text">Travaillant depuis 5 ans dans la tech, elle décide de se lancer dans la création d'une start-up pour se mettre au service de la société et rendre le monde meilleur</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/M2.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Ibrahim Koppens</h4>
    <h5 class="card-title">Vice-président</h5>
    <p class="card-text">Après avoir rencontré Marie-Louise lors d'un colloque important dans leur domaine, il se joint à son projet et...</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/W6.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Ophélie Dilleux</h4>
    <h5 class="card-title">Chief operating officer</h5>
    <p class="card-text">Ancienne collègue de Marie-Louise, elle a été séduite par l'idée innovante de cette entreprise est s'est lancée dans sa création avec eux</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>

  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/W1.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Catherine Van Irrether</h4>
    <h5 class="card-title">Venture Capitalist Partner</h5>
      <p class="card-text">Catherine a rejoint la boite trois mois après son lancement</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/W2.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Sara Remoutois</h4>
    <h5 class="card-title">Project Manager</h5>
    <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/M1.png" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Charles Flazout</h4>
    <h5 class="card-title">Web designer</h5>
    <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>

  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/W5.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Laura Hallouni</h4>
    <h5 class="card-title">Chief executif officer</h5>
    <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/W3.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Nathalie Plaghev</h4>
    <h5 class="card-title">Communication</h5>
    <p class="card-text">Nathalie vient tout juste de rejoindre le projet </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card border-dark mb-3" style="width: 15rem;">
    <img class="card-img-top rounded-circle z-depth-0" src="./img/teamMember/WM1.jpg" alt="Card image cap">
    <div class="card-body text-dark">
    <h4 class="card-title">Vous?</h4>
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>
</div>


</div>
{% endblock %}
